<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.crmsystem.dao.AddressMapper" >
  <resultMap id="BaseResultMap" type="com.crm.crmsystem.dao.model.Address" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cus_id" property="cusId" jdbcType="INTEGER" />
    <result column="con_id" property="conId" jdbcType="INTEGER" />
    <result column="contry" property="contry" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="isValid" property="isvalid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cus_id, con_id, contry, province, city, street, isValid, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.crmsystem.dao.model.Address" useGeneratedKeys="true" keyProperty="id" >
    insert into address (cus_id, con_id, contry, 
      province, city, street, 
      isValid, type)
    values (#{cusId,jdbcType=INTEGER}, #{conId,jdbcType=INTEGER}, #{contry,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR}, 
      #{isvalid,jdbcType=INTEGER}, #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.crmsystem.dao.model.Address" useGeneratedKeys="true" keyProperty="id" >
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cusId != null" >
        cus_id,
      </if>
      <if test="conId != null" >
        con_id,
      </if>
      <if test="contry != null" >
        contry,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="street != null" >
        street,
      </if>
      <if test="isvalid != null" >
        isValid,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cusId != null" >
        #{cusId,jdbcType=INTEGER},
      </if>
      <if test="conId != null" >
        #{conId,jdbcType=INTEGER},
      </if>
      <if test="contry != null" >
        #{contry,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        #{isvalid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.crmsystem.dao.model.Address" >
    update address
    <set >
      <if test="cusId != null" >
        cus_id = #{cusId,jdbcType=INTEGER},
      </if>
      <if test="conId != null" >
        con_id = #{conId,jdbcType=INTEGER},
      </if>
      <if test="contry != null" >
        contry = #{contry,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        isValid = #{isvalid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.crmsystem.dao.model.Address" >
    update address
    set cus_id = #{cusId,jdbcType=INTEGER},
      con_id = #{conId,jdbcType=INTEGER},
      contry = #{contry,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR},
      isValid = #{isvalid,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selAddByCusIdOrConId" resultMap="BaseResultMap" parameterType="com.crm.crmsystem.dao.model.Address" >
    select
    <include refid="Base_Column_List" />
    from address
    where
    <if test="address.cusId != null" >
      cus_id = #{address.cusId,jdbcType=INTEGER}
    </if>
    <if test="address.conId != null" >
      con_id = #{address.conId,jdbcType=INTEGER}
    </if>
    <if test="address.type != null" >
      AND type = #{address.type,jdbcType=INTEGER}
    </if>
    AND isValid = 1
  </select>

  <update id="delAddByCusIdOrConId" parameterType="com.crm.crmsystem.dao.model.Address" >
    update address
    set
    isValid = 0
    where
    <if test="address.cusId != null" >
      cus_id = #{address.cusId,jdbcType=INTEGER}
    </if>
    <if test="address.conId != null" >
      con_id = #{address.conId,jdbcType=INTEGER}
    </if>
    <if test="address.type != null" >
      AND type = #{address.type,jdbcType=INTEGER}
    </if>
  </update>

  <update id="modAddByCusIdOrConId" parameterType="com.crm.crmsystem.dao.model.Address" >
    update address
    <set >
      <if test="address.contry != null" >
        contry = #{address.contry,jdbcType=VARCHAR},
      </if>
      <if test="address.province != null" >
        province = #{address.province,jdbcType=VARCHAR},
      </if>
      <if test="address.city != null" >
        city = #{address.city,jdbcType=VARCHAR},
      </if>
      <if test="address.street != null" >
        street = #{address.street,jdbcType=VARCHAR}
      </if>
    </set>
    where
    <if test="address.cusId != null" >
      cus_id = #{address.cusId,jdbcType=INTEGER}
    </if>
    <if test="address.conId != null" >
      con_id = #{address.conId,jdbcType=INTEGER}
    </if>
    <if test="address.type != null" >
      AND type = #{address.type,jdbcType=INTEGER}
    </if>
  </update>
</mapper>