<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.crmsystem.dao.CusIndustryMapper" >
  <resultMap id="BaseResultMap" type="com.crm.crmsystem.dao.model.CusIndustry" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="industry_name" property="industryName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, industry_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cus_industry
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cus_industry
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.crmsystem.dao.model.CusIndustry" useGeneratedKeys="true" keyProperty="id" >
    insert into cus_industry (industry_name)
    values (#{industryName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.crmsystem.dao.model.CusIndustry" useGeneratedKeys="true" keyProperty="id" >
    insert into cus_industry
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="industryName != null" >
        industry_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="industryName != null" >
        #{industryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.crmsystem.dao.model.CusIndustry" >
    update cus_industry
    <set >
      <if test="industryName != null" >
        industry_name = #{industryName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.crmsystem.dao.model.CusIndustry" >
    update cus_industry
    set industry_name = #{industryName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>